.loan-details a {
  margin-left: 0px !important;
  float: left;
}

.ignore-btn {
  color: #772d72;
  padding: 0px 2px 0px 2px;
  float: right;
}

.loan-parts .company-info {
  min-width: 2.6em  !important;
}